<!-- gros sakura or  -->
<div class="container_sakura_home">
  <%= image_tag 'SAKURA.png' %>
</div>

<!-- élement .page contenant les 3 parties : nav_left main nav_right -->

<div class="page_styles">
  <div class="left">
    <h3>
      <%= link_to root_path do %>
        <div class="glitch_logo" data-text="SAKURA">SAKURA
        </div>
      <% end %>
    </h3>
    <br>
    <div class="styles_links">
      <% @styles.each do |style| %>
        <h3>
          <%= link_to ("#{style.name}"), show_style_path(style) %>
        </h3>
      <% end %>
      <br>
      <h3>
      <%= link_to 'ver todos', home_FW_2017_path, style:"border-bottom: 2.5px solid black" %></h3>
    </div>
  </div>


  <section class="styles_container">

    <div class="title_container">
      <div class="title">
        <h1>COLECCIÒN FW 2017</h1>
      </div>
    </div>

    <% @styles.each do |style| %>
      <div class="style" >
        <%= link_to show_style_path(style) do %>
          <div class="style_cover"><%= image_tag style.cover %></div>
          <h2>
            <div class="style_name"><%= style.name %></div>
          </h2>
        <% end %>
      </div>
    <% end %>
  </section>

  <div class="right">
    <h3>
      <div class="comprar">
        <%= link_to 'comprar #', "https://www.etafashion.com/" %>
      </div>
    </h3>
    <br>
    <div class="socials_links">
      <h3><%= link_to 'contactanos #', "mailto:clementpicardzivy@gmail.com" %></h3>
      <h3><%= link_to 'instagram #',  "#" %></h3>
      <h3><%= link_to 'facebook #', "#" %></h3>
      <h3><%= link_to 'creditos #', "mailto:clementpicardzivy@gmail.com" %></h3>
    </div>
  </div>
</div>
