<!DOCTYPE html>
<html>
  <head>
    <title>Sakura</title>
    <%= csrf_meta_tags %>

<link rel="stylesheet" href="application.scss">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

  </head>

  <body>

  <% unless action_name == "landing" || action_name == "show_photo" %>
    <%= render "navbar" %>
  <% end %>

    <%= yield %>


<script> </script>

  </body>
</html>
